// ## Container 
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-5;
  padding-right: $spacing-5;
}

.container-large {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-5;
  padding-right: $spacing-5;
}

p.paragraphy-xsl {
  font-size: $font-size-1;
  color: $gray-3;
}

p.paragraphy-sml {
  font-size: $font-size-2;
  color: $gray-2;
}

p.paragraphy-lge {
  font-size: $font-size-4;
}

.font-white {
  color: $white;
}

.featured-text {
  color: $color-primary-1;
  font-weight: bold;
  font-size: inherit;
}