.c-card {
  flex: 1;
  max-width: $size-6;
  background-color: $white;
  padding: $spacing-5;
  border-radius: $spacing-2;
  box-shadow: $box-shadow-2;
  z-index: 1;
  figcaption {
    z-index: 10;
    margin-top: $spacing-4;
  }
  svg {
    fill: $color-primary-6;
  }
  h4 {
    color: $color-primary-6;
  }
  p {
    margin: $spacing-4 0;
  }
  position: relative;
  overflow: hidden;
  .card__decoration {
    background-color: $color-primary-2;
    height: 9rem;
    width: 9rem;
    border-radius: 100%;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: -1;
    transition: transform .6s;
  }
  &:hover .card__decoration {
    transform: scale(10);
  }
}