// ============================================
// Colors

$color-primary-1  : #ffbb00;

$color-primary-2  : #fcf8e9;
$color-primary-3  : #f4d98e;
$color-primary-4  : #f3c851;
$color-primary-5  : #f0bc2d;
$color-primary-6  : #e4a30b;
$color-primary-7  : #a66f00;
$color-primary-8  : #664400;
$color-primary-9  : #332200;

$color-primary-transparent  : #ffbb0009;

// =============================================
// webfatorial

$success  : #3cc368;
$warning  : #f5a600;
$error    : #ec5840;
$black    : #111111;
$gray-1   : #363636;
$gray-2   : #4f4f4f;
$gray-3   : #828282;
$gray-4   : #bdbdbd;
$gray-5   : #e0e0e0;
$white    : #fcfcfc;

// =================================================
// Others

$above    : 500;
$modal    : 400;
$overlay  : 300;
$dropdown : 200;
$default  : 1;
$below    : -1;

// =================================================
// Font Sizes

$font-size-1 : 1.2rem;
$font-size-2 : 1.4rem;
$font-size-3 : 1.6rem;
$font-size-4 : 1.8rem;
$font-size-5 : 2.0rem;
$font-size-6 : 2.8rem;
$font-size-7 : 3.6rem;
$font-size-8 : 4.4rem;

// =================================================
// Spacing

$spacing-1   : 0.4rem;
$spacing-2   : 0.8rem;
$spacing-3   : 1.2rem;
$spacing-4   : 1.6rem;
$spacing-5   : 2.0rem;
$spacing-6   : 2.4rem;
$spacing-7   : 2.8rem;
$spacing-8   : 3.2rem;
$spacing-9   : 4.0rem;
$spacing-10  : 4.8rem;
$spacing-11  : 6.0rem;
$spacing-12  : 8.0rem;
$spacing-13  : 12.0rem;
$spacing-14  : 16.0rem;

// =================================================
// Width

$size-1  : 8.0rem;
$size-2  : 12.0rem;
$size-3  : 16.0rem;
$size-4  : 20.0rem;
$size-5  : 24.0rem;
$size-6  : 32.0rem;
$size-7  : 40.0rem;
$size-8  : 48.0rem;
$size-9  : 60.0rem;
$size-10 : 72.0rem;

// =================================================
// Box Shadow

$box-shadow-1: 0px 2px 2px -1px #00000020;
$box-shadow-2: 0px 4px 4px -2px #00000020;
$box-shadow-3: 0px 8px 8px -4px #00000020;
$box-shadow-4: 0px 16px 16px -8px #00000020;
