// ============================================
// Colors

$color-primary-1  : #ffbb00;
$color-primary-2  : #e4a30b;
$color-primary-3  : #a66f00;
$color-primary-4  : #664400;
$color-primary-5  : #332200;

// =============================================
// webfatorial

$success  : #3cc368;
$warning  : #f5a600;
$error    : #ec5840;
$black    : #111111;
$gray-1   : #363636;
$gray-2   : #4f4f4f;
$gray-3   : #828282;
$gray-4   : #bdbdbd;
$gray-5   : #e0e0e0;
$white    : #fcfcfc;

// =================================================
// Others

$above    : 500;
$modal    : 400;
$overlay  : 300;
$dropdown : 200;
$default  : 1;
$below    : -1;

// =================================================
// Font Sizes

$font-size-1 : 1.2rem;
$font-size-2 : 1.4rem;
$font-size-3 : 1.6rem;
$font-size-4 : 2.0rem;
$font-size-5 : 2.4rem;
$font-size-6 : 3.2rem;
$font-size-7 : 4.0rem;
$font-size-8 : 4.8rem;

// =================================================
// Spacing

$spacing-1   : 0.4rem;
$spacing-2   : 0.8rem;
$spacing-3   : 1.2rem;
$spacing-4   : 1.6rem;
$spacing-5   : 2.0rem;
$spacing-6   : 2.4rem;
$spacing-7   : 2.8rem;
$spacing-8   : 3.2rem;
$spacing-9   : 4.0rem;
$spacing-10  : 4.8rem;
$spacing-11  : 6.0rem;
$spacing-12  : 8.0rem;
$spacing-13  : 12.0rem;
$spacing-14  : 16.0rem;
