/* ==========================================================================
   Reset
   ========================================================================== */
/**
 * Remove anchor text-decoration
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
a {
  text-decoration: none;
}

/**
 * Remove list-style
 */
ol, ul {
  list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-size: 1em;
  font-weight: normal;
}

img {
  max-width: 100%;
  display: block;
}

/*Este import deve ser removido*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }
}

body * {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #363636;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
  color: #111111;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

img,
iframe,
object,
embed,
video {
  max-width: 100%;
}

img[width],
iframe[width],
object[width],
embed[width],
video[width] {
  width: auto; /* Defer to max-width */
}

img[width][height],
iframe[width][height],
object[width][height],
embed[width][height],
video[width][height] {
  height: auto; /* Preserve aspect ratio */
}

label {
  cursor: pointer;
}

:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 0;
}

:focus-visible {
  outline-color: #ffbb00;
}

::-moz-selection {
  background-color: #ffbb00;
}

::selection {
  background-color: #ffbb00;
}

::marker {
  color: #ffbb00;
}

::-webkit-calendar-picker-indicator {
  color: #ffbb00;
}

::-webkit-clear-button {
  color: #ffbb00;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  color: #ffbb00;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-large {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/*
Enable
Disable
Hover
Focus
Pressed
*/
.filled-button {
  padding: 10px 20px;
  background-color: #ffbb00;
  color: #111111;
  border-radius: 2px;
  transition: 0.3s;
}
.filled-button:hover {
  background-color: #e4a30b;
}

.outlined-button {
  background-color: #ffbb00;
}

.text-button {
  background-color: #ffbb00;
}

.call-to-action {
  background-color: #fcfcfc;
}

.card {
  background-color: #fcfcfc;
}

.contetn-side {
  background-color: #fcfcfc;
}

.header {
  background-color: #fcfcfc;
}
.header .header__nav {
  min-height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffbb00;
}
.header .header__menu {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.header .header__menu li a {
  display: inline-block;
  padding: 1.2rem 2rem;
}
.header .header__menu li a:hover {
  color: #ffbb00;
}/*# sourceMappingURL=style.css.map */